/* font-family: 'Berkshire Swash', cursive;
font-family: 'Borel', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Work Sans', sans-serif;*/


body {
    margin: 0;
}


/**/

p {
    color: #4E412D;
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #C7FEFD;
    background-image: url(img/depositphotos_622872182-stock-illustration-landscape-of-coal-mine.jpg);
    background-position:bottom;
    background-repeat: no-repeat;
    background-size:inherit;
    padding: 0;
    margin: 0;
}

.mineria {
    font-family: 'Berkshire Swash', cursive;
    color: rgb(255, 255, 255);
    text-shadow: #366e59 0px 0px 12px;
    font-size: 4.1rem;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-top: 35px;
    margin: 0;
}

.otroTitulo {
    margin: 0;
    text-transform: uppercase;
    font-variant: small-caps;
    font-weight: bold;
    text-align: center;
    color: #4E412D;
    font-size: 2.4rem;
    font-family: 'Montserrat', sans-serif;
}

.descripcion {
    background: linear-gradient(180deg, rgba(170,144,102,1) 0%, rgba(199,177,140,1) 60%);
    /* display: flex; */
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0;
}

.descripcion p{
    background-color: #C7FEFD;
    padding: 10px 25px;
    margin: 0;
    text-align: center;
    justify-content: center;

		/* shorthand
		animation: shadow-drop-center 1.2s ease-in 0.2s 1 normal none;*/
	

}

.descripcion p{
    transition: 4s ease-in;
    box-shadow: #4E412D;
}